/* Intro */
.intro-aboutUs {
  position: relative !important;
  overflow: hidden !important;
}

.intro-aboutUs > * {
  position: relative !important;
  z-index: 3 !important;
}

.intro-aboutUs::before {
  content: "";
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  inset: 0px !important;
  background: var(--yellow1) !important;
  z-index: 1 !important;
}
.intro-aboutUs::after {
  content: "";
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  inset: 0px !important;
  background-image: url(../img/con-aboutUs.png) !important;
  background-size: cover !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  opacity: 0.05;
  z-index: 2 !important;
  object-fit: cover !important;
  object-position: center !important;
}

.intro-aboutUs img {
  border-radius: 2000px !important;
  width: 90px !important;
}

.intro-aboutUs h1,
.intro-aboutUs span {
  font-size: 40px !important;
  font-family: "rokhb" !important;
  text-align: center !important;
}
.intro-aboutUs span {
  text-align: center !important;
  color: var(--black1) !important;
}

.intro-aboutUs p {
  color: var(--black1) !important;
  font-size: 16px !important;
  font-family: "rokhm" !important;
  text-align: center !important;
}

@media (max-width: 554px) {
  .intro-aboutUs h1,
  .intro-aboutUs span {
    font-size: 24px !important;
  }

  .intro-aboutUs p {
    font-size: 14px !important;
    line-height: 30px !important;
  }
}

/* END Intro */

/* Description  */

.box-description {
  background: var(--yellow1) !important;
  width: 32% !important;
  padding: 30px !important;
}
.box-description h4 {
  text-align: center !important;
  font-size: 18px !important;
  color: var(--black1) !important;
  font-family: "rokhm" !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
.box-description p {
  text-align: center !important;
  margin: 0px !important;
  padding: 0px !important;
  margin-top: 15px !important;
  color: var(--black2) !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

@media (max-width: 554px) {
  .box-description {
    background: var(--yellow1) !important;
    width: 100% !important;
    padding: 25px !important;
  }

  .box-description h4 {
    font-size: 16px !important;
  }

  .box-description p {
    font-size: 14px !important;
  }
}
/* END Description  */
