/* Body */

html::after,
html::before {
  display: none !important;
}

html[data-theme="dark"] {
  body::before {
    content: "";
    position: absolute !important;
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    width: 100vw !important;
    height: 100svh !important;
    background: linear-gradient(
      to top,
      var(--black1) 20%,
      transparent
    ) !important;
    z-index: -1 !important;
  }

  .bg-categories {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    height: 100vh !important;
    width: 100vw !important;
    filter: brightness(1) !important;
    opacity: 0.2 !important;
    z-index: -2 !important;
    object-fit: cover !important;
    object-position: center !important;
  }

  .breadcrumb .breadcrumb-item,
  .breadcrumb a {
    color: var(--yellow1) !important;
  }

  .see_all p,
  .see_all i {
    color: var(--yellow1) !important;
  }
  .see_all:hover > * {
    color: var(--white) !important;
  }
}

body::before {
  content: "";
  position: absolute !important;
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;
  width: 100vw !important;
  height: 100svh !important;
  background: linear-gradient(
    to top,
    var(--black1) 20%,
    transparent
  ) !important;
  z-index: -1 !important;
}

.bg-categories {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  height: 100vh !important;
  width: 100vw !important;
  filter: brightness(0.2) !important;
  opacity: 1 !important;
  z-index: -2 !important;
  object-fit: cover !important;
  object-position: center !important;
}

/* Section 1 */

.breadcrumb {
  background-color: transparent !important;
  font-size: 14px !important;
}

.categories_input_search {
  width: 140% !important;
  font-size: 16px !important;
  padding: 0px !important;
  border-radius: 200px !important;
}

@media (max-width: 550px) {
  .categories_input_search {
    min-width: 140% !important;
    font-size: 14px !important;
    padding: 0px !important;
    border-radius: 200px !important;
  }
}

/* END Section 1 */

/* Boxes */
.see_all p,
.see_all i {
  margin: 0px !important;
  padding: 0px !important;
  font-synthesis: 16px !important;
  cursor: pointer;
}

.see_all i {
  margin-right: 10px !important;
  font-size: 12px !important;
}

.see_all:hover > * {
  color: var(--yellow1) !important;
}

@media (max-width: 550px) {
  .see_all i {
    margin-right: 5px !important;
    font-size: 8px !important;
  }
  .see_all p {
    font-size: 12px !important;
  }
}

/* END Boxes */

/* END Body */
