/* Defult */
@font-face {
  font-family: "Rokhl";
  src: url("../fonts/rokh/RokhFaNum-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rokhb";
  src: url("../fonts/rokh/Rokh-ExtraBold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rokhm";
  src: url("../fonts/rokh/Rokh-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #d6d6d6;
  --yellow1: #ffee32;
  --yellow2: #ffd100;
  --black1: #202020;
  --black2: #333533;
  --black3: #000;
}

* {
  font-family: "Rokhl";
  padding: 0px;
  margin: 0px;
  box-sizing: border-box !important;
  color: var(--white) !important;
  direction: rtl !important;
  transition: 0.2s !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

a {
  color: var(--white);
  text-decoration: none !important;
}

a:hover {
  color: var(--yellow1);
}

::placeholder {
  color: var(--black2) !important;
  font-size: 14px !important;
}

body {
  background-color: var(--black1) !important;
  max-width: 1300px !important;
  margin: 0 auto !important;
}
#overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 999;
  display: none; /* اول پنهان */
}
body.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth !important;
  position: relative;
  overflow-x: hidden !important;
}

html::before {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  background: url(../img/bg.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

html::after {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  background: url(../img/bg.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(-1) !important;
  transform: scaleX(-1) !important;
}

/* Header Start */
header {
  background: var(--yellow1);
}

.logo img {
  max-width: 40px;
  height: 38px;
}

.logo:hover img {
  transform: rotate(20deg);
}

.logo small {
  color: var(--black1) !important;
  font-size: 16px !important;
  text-wrap: nowrap;
}

header input {
  width: 25vw !important;
  max-width: 450px !important;
  background-image: url(../img/search.svg) !important;
  background-size: 5%;
  background-position: 97%;
  background-repeat: no-repeat;
  background-color: transparent !important;
  border: 1px solid var(--black2) !important;
  color: var(--black2) !important;
  height: 40px !important;
}

header input:placeholder-shown {
  padding-right: 7% !important;
  transition: 0.3s !important;
}

header input:not(:placeholder-shown) {
  padding-right: 2% !important;
  background-position: 125%;
}

.login-btn {
  background: var(--black2);
}
.login-btn:hover {
  transform: scale(0.9) rotate(-2deg);
}

.header-menu a {
  color: var(--black2) !important;
  font-size: 14px !important;
  margin-left: 15px !important;
  cursor: pointer;
}
.header-menu a:hover {
  color: var(--black1) !important;
  transform: scale(0.95) !important;
}

.header-menu .fa,
.header-menu .fas {
  color: var(--black2) !important;
  font-size: 12px !important;
  margin: 0 5px !important;
}
.header-menu:hover .fa,
.header-menu:hover .fas {
  color: var(--black1) !important;
}

#arrow-menu-header {
  transform: translateY(2px) rotate(0deg);
  font-size: 12px !important;
}

.turn-arrow-header {
  transform: translateY(2px) rotate(180deg) !important;
}

.header-menu-items {
  text-align: right;
  background: var(--yellow1);
  width: max-content !important;
  padding: 10px !important;
  position: absolute;
  top: 40px;
  right: 0px;
  opacity: 0;
  transform: scale(0.9) translateY(-15px);
  z-index: -1 !important;
}

header .show-items {
  position: absolute;
  top: 60px;
  right: 0px;
  opacity: 1;
  transform: scale(1) translateY(0px);
  z-index: 100000000 !important;
}

.header-menu-items a {
  font-size: 14px !important;
  padding: 7px !important;
  width: 100% !important;
  border-radius: 5px !important;
  padding-right: 10px !important;
}

.header-menu-items a:hover {
  background: var(--yellow2);
  transform: scale(0.95) !important;
}

.header-menu-items a:nth-child(1) {
  margin-top: 0px !important;
}

@media (max-width: 550px) {
  header input {
    width: 50vw !important;
    font-size: 14px !important;
    background-size: 9%;
    background-position: 96%;
    height: 35px !important;
  }

  header input::placeholder {
    font-size: 14px !important;
  }

  header input:placeholder-shown {
    padding-right: 12% !important;
    transition: 0.3s !important;
  }

  header input:not(:placeholder-shown) {
    padding-right: 2% !important;
    background-position: 125%;
  }

  header .logo img {
    max-height: 35px !important;
    max-width: 35px !important;
  }

  .menu-btn {
    height: 35px !important;
    width: 35px !important;
    border-radius: 5px !important;
    background: var(--yellow1);
  }

  .menu-btn i {
    color: var(--black2) !important;
  }

  .menu-mobile {
    position: absolute !important;
    margin-top: 0px !important;
    top: 0px !important;
    bottom: 0px !important;
    right: -100% !important;
    min-height: auto !important;
    padding: 15px !important;
    background-color: var(--yellow1) !important;
    transition: 0.4s all !important;
    z-index: 100000 !important;
  }

  .Toogle_Menu_Mobile {
    right: 0px !important;
  }

  .menu-mobile a:not(#category),
  .menu-mobile #section_category {
    background: var(--yellow1);
    border: 1px solid var(--black1) !important;
    border-radius: 5px !important;
    padding: 10px 15px !important;
    width: 100% !important;
    text-align: right !important;
    margin: 7px 0px !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .header-menu-items {
    position: relative !important;
    inset: 0px !important;
    transform: scale(1) translateY(0px) !important;
    height: max-content !important;
    overflow: visible;
    opacity: 1 !important;
    padding: 0px !important;
    width: 100% !important;
    z-index: 100000 !important;
  }

  .menu-mobile .header-menu-items a {
    margin: 51px 0px !important;
  }

  header .show-items {
    transform: scale(1) translateY(0px) !important;
    position: relative !important;
    inset: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .menu-mobile #menu-items a {
    margin: 5px 0px !important;
  }

  .login-btn {
    font-size: 12px !important;
  }
}

/* Header End */

/* Body Start */

/* Intro Start */
.con-intro img {
  width: 45%;
}
.con-intro h1 {
  font-size: 50px;
  font-family: "rokhb" !important;
  text-align: right !important;
}
.con-intro h1 span {
  font-size: 50px;
  font-family: "rokhb" !important;
  color: var(--yellow2) !important;
  text-align: right !important;
}

.con-intro h3 {
  font-size: 34px;
  font-family: "rokhb" !important;
  text-align: right !important;
  background: -webkit-linear-gradient(
    left,
    var(--yellow1),
    var(--yellow2)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.gradienttext {
  text-align: center !important;
  background: linear-gradient(
    to right,
    var(--yellow1) 10%,
    var(--yellow2) 30%,
    var(--yellow2) 70%,
    var(--yellow1) 90%
  );
  background-size: 200% auto !important;
  background-clip: text !important;
  text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  animation: lineartext 1.5s linear infinite !important;
}
@keyframes lineartext {
  to {
    background-position: 200% center;
  }
}

.con-intro input {
  background: var(--white) !important;
  font-size: 18px !important;
  color: var(--black2) !important;
  background-image: url(../img/search.svg) !important;
  background-position: 2% !important;
  background-size: 5% !important;
  background-repeat: no-repeat !important;
  padding: 25px !important;
}

.con-intro input::placeholder {
  font-size: 18px !important;
  color: var(--black2) !important;
}

.con-intro button {
  padding: 10px 15px !important;
  background: var(--yellow1);
  color: var(--black1) !important;
}
.con-intro button:hover {
  transform: scale(0.95);
  opacity: 0.9;
}

@media (max-width: 1290px) {
  .con-intro h1,
  .con-intro h1 span {
    font-size: 3vw;
    font-family: "rokhb" !important;
    text-align: center !important;
    line-height: 60px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

  .con-intro h3 {
    font-size: 2.5vw !important;
    margin-top: 20px !important;
  }
}

@media (max-width: 992px) {
  .con-intro img {
    width: 80%;
  }
  .con-intro h1,
  .con-intro h1 span {
    font-size: 5vw !important;
  }

  .con-intro h3 {
    font-size: 3vw !important;
  }
}
@media (max-width: 550px) {
  .con-intro h1 {
    font-size: 21px !important;
    font-family: "rokhb" !important;
    text-align: right !important;
    line-height: 30px !important;
  }
  .con-intro h1 span {
    font-size: 21px !important;
    text-align: right !important;
  }

  .con-intro h3 {
    font-size: 18px !important;
    text-align: center !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    margin-top: 8px !important;
  }

  .con-intro input {
    font-size: 14px !important;
    background-image: url(../img/search.svg) !important;
    background-position: 10px !important;
    background-size: 25px !important;
    background-repeat: no-repeat !important;
    padding: 20px !important;
    width: 90% !important;
    height: 35px !important;
    width: 100% !important;
    margin-top: 10px !important;
  }

  .con-intro input::placeholder {
    font-size: 14px !important;
    color: var(--black2) !important;
  }

  .con-intro button {
    font-size: 14px !important;
    padding: 8px 14px !important;
    height: 35px !important;
    color: var(--black2) !important;
  }
}

/* Intro End */

/* Categories Start */
.m_title h2,
.m_title span {
  font-family: "rokhm" !important;
  font-weight: bold !important;
  font-size: 22px !important;
}

.m_title span {
  color: var(--yellow2) !important;
}

.m_title i {
  font-size: 16px !important;
  margin-top: 2.5px !important;
}

.con-category {
  gap: 30px !important;
}
.category-item img {
  border-radius: 15px !important;
}

.category-item h5 {
  margin-top: -5px !important;
  color: var(--yellow1) !important;
  font-size: 16px !important;
  filter: brightness(0.7);
}
.category-item {
  background-color: var(--black3) !important;
  padding-bottom: 5px !important;
  border-radius: 10px !important;
}

.category-item:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .category-item h5 {
    font-size: 14px !important;
  }

  .category-item {
    width: 20% !important;
  }
  .con-category {
    gap: 30px !important;
    flex-wrap: wrap !important;
  }
}

@media (max-width: 550px) {
  .category-item h5 {
    font-size: 60% !important;
    margin-top: 5% !important;
  }

  .category-item {
    width: calc(25% - 10px) !important;
    border-radius: 7px !important;
  }
  .con-category {
    gap: 10px !important;
    flex-wrap: wrap !important;
  }

  .m_title h2,
  .m_title span {
    font-size: 16px !important;
  }

  .m_title i {
    font-size: 12px !important;
    margin-top: 1px !important;
    margin-left: 10px !important;
  }
}

/* Categories End */

/* Boxes Start  */

.box .box-title {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-align: right !important;
  font-family: "rokhm" !important;
  /* -- */
  font-size: 18px !important;
  line-height: 30px !important;
  color: var(--yellow2) !important;
}
.box .box-text {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-align: right !important;
  /* -- */
  font-size: 14px !important;
  line-height: 28px !important;
}

.box .btn {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 14px !important;
}

.box i {
  font-size: 12px !important;
}

.box .btn:hover {
  color: var(--yellow1) !important;
}
.box .btn:hover + i {
  color: var(--yellow1) !important;
}

.box:hover {
  transform: translateY(-10px) !important;
  opacity: 0.8;
}

.btn-title {
  padding: 0px !important;
  border-radius: 200px !important;
  border: 1px solid var(--yellow2) !important;
  cursor: pointer;
  width: 40px !important;
  height: 40px !important;
}
.btn-title i {
  font-size: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}

.btn-title:hover {
  transform: scale(0.95);
  background: var(--black2);
}
.con-boxes {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0px !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 30px !important;
}

.con-boxes::-webkit-scrollbar {
  display: none;
}

.box {
  flex: 0 0 calc((100% / 4) - (30px * 3 / 4));
  background-color: var(--black3);
  padding: 15px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .box {
    flex: 0 0 calc((100% / 3) - (30px * 2 / 3));
  }
}

@media (max-width: 768px) {
  .con-boxes {
    gap: 20px !important;
    padding-top: 10px !important;
  }

  .box {
    flex: 0 0 calc((100% / 2) - (20px / 2));
    padding: 12px !important;
  }
}

@media (max-width: 550px) {
  .box .box-title {
    font-size: 14px !important;
    -webkit-line-clamp: 2 !important;
    line-height: 25px !important;
  }

  .box .box-text {
    font-size: 14px !important;
    display: none !important;
  }

  .box .btn {
    font-size: 12px !important;
  }
  .box i {
    font-size: 9px !important;
  }

  .btn-title {
    width: 30px !important;
    height: 30px !important;
  }

  .btn-title i {
    font-size: 80% !important;
  }
}

/* Boxes End  */

/* Slider Start */

.carousel {
  border-radius: 5px !important;
  overflow: hidden !important;
}

.carousel h5 {
  font-family: "rokhb" !important;
  color: var(--black3) !important;
  background: var(--yellow2) !important;
  padding: 5px !important;
  border-radius: 5px !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
}
.carousel p {
  font-family: "rokhm" !important;
  color: var(--black1) !important;
  background: var(--yellow1) !important;
  padding: 5px !important;
  border-radius: 5px !important;
  min-width: 250px !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
}
#carouselExampleDark {
  max-height: 500px; /* ارتفاع حداکثر */
  width: 100%; /* کل عرض صفحه */
}

#carouselExampleDark .carousel-item {
  height: 500px; /* ارتفاع ثابت برای هر اسلاید */
  position: relative; /* برای caption */
}

#carouselExampleDark .carousel-item img {
  width: 100%; /* عکس کل عرض را بگیرد */
  height: 100%; /* ارتفاع container را پر کند */
  object-fit: cover; /* کراپ کردن تصویر بدون کشیده شدن */
}

#carouselExampleDark .carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 10;
}

@media (max-width: 550px) {
  .carousel h5 {
    font-family: "rokhb" !important;
    font-size: 18px !important;
    text-wrap: nowrap !important;
    text-align: center !important;
  }
  .carousel p {
    font-family: "rokhm" !important;
    font-size: 16px !important;
    text-align: center !important;
    width: 100% !important;

    overflow: hidden !important;
  }
}

/* Slider End */

/* Body End */

/* Footer Start */

footer {
  background: var(--yellow1) !important;
}

.footer-title {
  font-family: "rokhm" !important;
  font-size: 18px !important;
  text-align: right !important;
  color: var(--black3) !important;
}
.footer-link {
  font-size: 16px !important;
  text-align: right !important;
  margin: 5px !important;
  color: var(--black1) !important;
}

.footer-link:hover {
  color: var(--black3) !important;
  padding-right: 5px !important;
}

.aboutus p {
  text-align: center !important;
  color: var(--black1) !important;
  font-size: 16px !important;
  line-height: 30px !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.social {
  width: 35px !important;
  height: 35px !important;
  border-radius: 200px !important;
  padding: 7px !important;
  border: 1px solid var(--black3) !important;
  cursor: pointer;
  margin: 0 5px !important;
}

.social:hover {
  transform: scale(0.9) !important;
}

.text-end span {
  color: var(--yellow2) !important;
}

@media (max-width: 550px) {
  .footer-title {
    font-size: 16px !important;
    text-align: center !important;
  }
  .footer-link {
    font-size: 14px !important;
    text-align: center !important;
  }

  .aboutus p {
    font-size: 14px !important;
    -webkit-line-clamp: 4 !important;
  }
}

/* Footer End */
