:root {
  --white: #fbfcd4;
  --yellow1: #efbc33;
  --yellow2: #ffe336;
  --black1: #151515;
  --black2: #0a0a0a;
  --black3: #000;
}

[data-theme="dark"] {
  --white: #d6d6d6;
  --yellow1: #ffee32;
  --yellow2: #ffd100;
  --black1: #202020;
  --black2: #333533;
  --black3: #000;
}